
@{
    ViewBag.Title = "Profile";
}
 
    <div class="col-md-5">
        <ul class="list-group">
            <li class="list-group-item">
                <label>First Name:</label> <span class="pull-right">Shibu</span>
            </li>
            <li class="list-group-item">
                <label>Last Name:</label>  <span class="pull-right">Tamang</span>
            </li>
            <li class="list-group-item">
                <label>Phone:</label>  <span class="pull-right">9845452</span>
            </li>
            <li class="list-group-item">
                <label><i class="fa fa-marker-o"></i> Address:</label>  <span class="pull-right">Kathmandu, Nepal</span>
            </li>
        </ul>
    </div>
  

